* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(https://pibig.info/uploads/posts/2022-12/1670012975_1-pibig-info-p-fon-salon-krasoti-oboi-1.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 25%;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.288);


}

.wrapper h1 {
    font-size: 40px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(26, 26, 26);
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: rgb(0, 0, 0);
    margin-right: 3px;
}

.remember-forgot a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: rgb(53, 53, 53);
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;

}

.register-link p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}